body {
    margin: 0;
    padding: 0;
}
header {
    padding: 25px;
    display: flex;
    height: 20%;
    justify-content: center;
}
nav {
    display: flex;
    gap: 50px;
}
#content {
    height: 90vh;
    background-color: blue;
    color: red;
}
