body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("images/nicolas-hoizey-unsplash.jpg");
    background-size: cover;
}
header {
    min-height: 50px;
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    gap: 50px;
    padding: 20px;
}

button {
    width: 250px;
    height: 50px;
    background-color: #B87333;
    border: solid 5px #6D3F2A;
    font-size: larger;
    border-radius: 20px;
}
button:hover {
    background-color: #6D3F2A;
    border-color: #B87333;
}
button:active {
    border-color: #6D3F2A;
}
footer {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background-color: rgba(0, 0, 0, 0.638);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.mainImg {
    width: 250px;
    border: 5px solid rgb(118, 69, 10);
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dish {
    width: 120px;
}

